<SiteNav @light='true' />
<main>

  <HomeHero />

  <div class='px-10 text-center my-20'>
    <h1 class='text-3xl font-bold'>Everything you need to sell anything you want</h1>
    <p class='text-gray-600'>Whether you're starting from scratch or you already
      have a website -
      <b>we've got the tools you need to get selling</b></p>
    <p></p>
  </div>

  <div class='home-about container mx-auto mb-24'>
    <article class='grid grid-cols-1 sm:grid-cols-2 gap-16'>
      <div>
        <ResponsiveImage
          @src='img/responsive/hero-devices.png'
          alt='Designed to work on all devices'
        />
      </div>
      <div>
        <h1 class='title'>What we do</h1>
        <p>highstreet.ly is designed for both businesses and private sellers,
          providing the tools to start selling online - and getting paid -
          quickly and easily.</p>
        <p>We provide a powerful analytics and management dashboard for managing
          sales and customers, and a hosted shopfront and/or widgets to use on
          your own site. Working from a busy shop? Try out tablet optimized
          operator app, with real time updates and multi-user order progress
          functionality.</p>
        <p>Our goal is to empower the high street by allowing them to compete
          with the big players at minimal cost.</p>
        <div class='text-center mt-10'>
          <LinkTo @route='register' class='btn'>Sign up now</LinkTo>
        </div>
      </div>
    </article>
  </div>

  <div class='home-difference container mx-auto mb-20'>
    <article class='grid grid-cols-1 sm:grid-cols-2 gap-16'>
      <div>
        <h2 class='title'>How are we different?</h2>
        <ul>
          <li class='mb-3'><b>Cost effective:</b>
            Unlike our closest competitors we charge a minimal flat fee per
            transaction - so you're not penalised for selling more.</li>
          <li class='mb-3'><b>Instant payment:</b>
            Once you've connected your stripe account, revenue from sales is
            sent directly to you - so no long waits for payment.</li>
          <li class='mb-3'><b>Self hosting:</b>
            Prefer to sell on your own website? No problem, simply drop in
            snippet of code we provide and your whole shop will run on your own
            site, including payments.
          </li>
          <li><b>Ethics at our core:</b>
            highstreet.ly was born as an idea to help the high street. And
            unlike some of our closest competitors, we're here to help you grow,
            not compete against you.</li>
        </ul>
      </div>
      <div>
        <ResponsiveImage
          @src='img/responsive/promo-2.jpg'
          alt='Shops optimized for mobile'
        />
      </div>
    </article>
  </div>

  <div class='home-features bg-gray-200 py-16 mb-20'>
    <div class='container'>
      <div class='grid grid-cols-1 sm:grid-cols-3 gap-4 text-center'>
        <div>
          <div class='mb-4'><img
              src='/img/icons/analytics.png'
              alt='Analytics'
              class='inline'
              width='129'
              height='128'
            />
          </div>
          <h3 class='subtitle'>Advanced analytics</h3>
          <p class='m-0'>View comprehensive sales reports and ensure you're
            always on top of your sales - and customers.
          </p>
        </div>
        <div>
          <div class='mb-4'><img
              src='/img/icons/computer.png'
              alt='Screen'
              class='inline'
              width='129'
              height='128'
            />
          </div>
          <h3 class='subtitle'>Real time notifications</h3>
          <p class='m-0'>Whenever a sale goes through, you'll be the first to
            know - with push, email and text message alerts.</p>
        </div>
        <div>
          <div class='mb-4'><img
              src='/img/icons/chat.png'
              alt='Support'
              class='inline'
              width='129'
              height='128'
            /></div>
          <h3 class='subtitle'>Dedicated support</h3>
          <p class='m-0'>Most questions are answered in our help guides, but if
            you need to speak to a human, you can drop us a message anytime.</p>
        </div>
      </div>
    </div>
  </div>

  <div class='home-pricing text-center container mb-20'>
    <h2 class='text-3xl font-bold'>Honest pricing. No surprises.</h2>
    <p class='text-gray-600'>No contract. No risk. No credit card required.</p>

    <section
      class='flex flex-col lg:flex-row items-start items-center lg:justify-center w-full w-full lg:px-10 py-12'
    >
      <article
        class='bg-white w-4/5 lg:w-custom mb-10 lg:px-4 px-6 py-10 text-center text-primary-dark rounded-lg'
      >
        <h3 class='font-bold text-base'>Basic</h3>
        <h4
          class='pb-4 flex justify-center font-bold border-b border-gray-300 mb-0'
        >
          <span class='text-6xl'>Free</span>
        </h4>
        <ul class='text-sm font-bold'>
          <li class='pt-3 pb-4 border-b border-gray-300'>Analytics and product
            management</li>
          <li class='pt-4 pb-4 border-b border-gray-300'>Hosted shop and widget
            for your own site</li>
          <li class='pt-4 pb-8'>And much, much more</li>
        </ul>
        <LinkTo @route='register' class='btn mt-5'>Sign up now</LinkTo>
      </article>
      <article
        class='lg:w-custom w-4/5 mb-10 px-6 py-16 lg:-mt-6 text-white text-center rounded-lg bg-brand bg-brand-gradient'
      >
        <h3 class='font-bold text-base'>Pro</h3>
        <h4
          class='font-bold pb-4 mt-2 border-b border-gray-100 flex justify-center mb-0'
        >
          <span class='text-3xl mt-6 mr-1'>£</span>
          <span class='text-6xl'> 60</span>
          <span class='text-3xl mt-6 mr-1'> /month</span>
        </h4>
        <ul class='text-sm font-bold'>
          <li class='pt-4 pb-4 border-b border-gray-200'><b>Everything in basic</b></li>
          <li class='pt-4 pb-4 border-b border-gray-200'>Multiple shops</li>
          <li class='pt-4 pb-8'>Operator app</li>
        </ul>
        <LinkTo @route='register' class='btn btn-inverse mt-5'>Sign up now</LinkTo>
      </article>
      <article
        class='bg-white w-4/5 lg:w-custom mb-10 lg:px-4 px-6 py-10 text-center text-primary-dark rounded-lg'
      >
        <h3 class='font-bold text-base'>Growth</h3>
        <h4
          class='flex justify-center pb-4 font-bold border-b border-gray-200 mb-0'
        >
          <span class='text-3xl mt-6 mr-1'>£</span>
          <span class='text-6xl'>200</span>
          <span class='text-3xl mt-6 mr-1'> /month</span>
        </h4>
        <ul class='text-sm font-bold'>
          <li class='pt-4 pb-4 border-b border-gray-200'><b>Everything in Pro</b></li>
          <li class='pt-4 pb-4 border-b border-gray-200'>Multi-franchise</li>
          <li class='pt-4 pb-8'>Team support</li>
        </ul>
        <LinkTo @route='register' class='btn mt-5'>Sign up now</LinkTo>
      </article>
    </section>
    <h5 class='text-3xl font-500'>Transaction fees:</h5>
    <p>A transaction fee is, by default, added to the customer total so you
      receive 100% of your product price.
      <br />
      This can also be configured if you wish to absorb the cost.</p>
    <p class='font-bold'>Example transaction fee is 40p (highstreet.ly) + 20p
      (stripe) + 1.4% (stripe). E.g. £20 order + 88p fee.</p>
  </div>

  <div class='home-register bg-gray-200 py-16'>
    {{#if (eq this.isLaunched '1')}}
      <RegisterBlock />
    {{else}}
      <RegisterInterestBlock />
    {{/if}}
  </div>

</main>