{{page-title "Privacy"}}

<div class="container">
  <h1>Privacy Policy</h1>

  <p>At Highstreet.ly, we strive to make the marketplace a better place for all of our Users. In that spirit, we&rsquo;d like to share how we collect certain information about you, other Users,
    Customers, as well as any of our website visitors, or people who may contact our <LinkTo @route="contact">support staff</LinkTo>.
  </p>

  <p>This Privacy Policy is shared to help you become familiarised with how we collect, use and share your personal data. If we ever change this policy, we&rsquo;ll let you know either on here or
    through direct contact via email.
  </p>

  <p>In addition to the following Privacy Policy, please refer to our <LinkTo @route="legal.terms">Terms of Service</LinkTo> for general information on rights, responsibilities, and obligations
    expected as a user of Highstreet.ly Services. Remember that these two documents should be read in conjunction with each other.
  </p>

  <p>Should any of the following provisions of this Privacy Policy exist in conflict with any of the provisions outlined in our Terms of Service, the provision listed in this Privacy Policy will
    represent the prevailing policy of Highstreet.ly.
  </p>

  <p>Here&rsquo;s what you need to know:</p>
  <ol>
    <li>Your information is protected, and it belongs only to you:
      <ol>
        <li>We limit the information that we need to collect. Our aim is only to collect just the right amount of personal information in order for us to conduct our day-to-day business. If ever
          the information is no longer necessary, we&rsquo;ll delete it permanently.
        </li>
        <li>As we work through any improvements to our technical systems and Services, we ensure that user privacy is at our top of mind. All of this to ensure that your information belongs solely
          to you. To that end, if any third party requests your personal information, we&rsquo;ll refuse to share this information unless you provide personal consent, or we&rsquo;re required by law.
          To the fullest legal extent possible, we&rsquo;ll notify you in advance if we&rsquo;re required to provide your personal information.
        </li>
      </ol>
    </li>
    <li>Information is only processed for &ldquo;legitimate reasons&rdquo;: (see full definition in 3.2).
      <ol>
        <li>Even with this, we strive to make sure we limit who we send your information to, how long we keep the information, as well as offering you control over your personal information, where
          appropriate.
        </li>
      </ol>
    </li>
    <li>Why we process your personal information:
      <ol>
        <li>We process your information whenever we need to fulfil a business process, like collecting a payment or uploading your information to our site.</li>
        <li>European law allows for the process of personal information, as long as it falls under &ldquo;legitimate interest&rdquo;, which includes:
          <ol>
            <li>Preventing risk and fraud</li>
            <li>Answering questions or providing other types of support</li>
            <li>Providing and improving our products and services</li>
            <li>Providing reporting and analytics</li>
            <li>Testing out features or additional services</li>
            <li>Assisting with marketing, advertising, or other communications</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Your rights over your information:
      <ol>
        <li>Depending on how you use our Services, we want to ensure you have access and control over your personal information. You may have the right to request access to all of the personal
          information we have collected on you, as well as the ability to correct, amend, delete, restrict and object to uses of your personal information (such as direct marketing emails).
          These rights will not result in any discriminatory level of service provided by us.
        </li>
        <li>If you&rsquo;re a Customer who has purchased something from either the Highstreet.ly site or directly through a merchant via the Highstreet.ly shopping widget, you have the right to
          request any type of personal information directly from the merchant. Highstreet.ly does not decide how Highstreet.ly Store Owners may process your personal information, though they are
          bound in agreement to our general Terms of Service.
        </li>
        <li>You may request an authorised agent to exercise rights over your personal information.&nbsp; This request must be emailed directly to us using the original email you have listed in your
          Account.
        </li>
        <li>If you&rsquo;re ever not happy with the outcome of our response to a personal information request, please <LinkTo @route="contact">contact us</LinkTo> so we may resolve the issue.
          Remember you have the right to contact your local privacy authority for further assistance.
        </li>
      </ol>
    </li>
    <li>Where we send your information:
      <ol>
        <li>As we are a U.K.-based company, your personal information is subject to the protection requirements under U.K. law.</li>
        <li>Any information shared to the E.U. will be subject, as well, to E.U. data protection laws.</li>
      </ol>
    </li>
    <li>Why and how we use &ldquo;cookies&rdquo;:
      <ol>
        <li>Cookies are enabled every time you use our website and are used in order for us to help better provide you with our Services.</li>
      </ol>
    </li>
  </ol>

</div>