<div class="hero text-center bg-fixed bg-center bg-cover bg-brand-gradient"> <!--style="background-image:url('/img/hero-bg.jpg')"-->
  <div class="container mx-auto pt-36 sm:pt-28 px-5">
    <div class="mb-5">
      <h1 class="text-white text-2xl sm:text-3xl md:text-4xl font-medium mb-8" {{did-insert this.startTyping}} {{will-destroy this.stopTyping}}>
        The <b><span id="typing"></span><span class="inline sm:hidden">easiest, most powerful</span></b> way to <b>sell</b> online
      </h1>
      <p class="text-white font-medium text-lg mb-8">All the features you need to start, run, and grow your business.</p>
      <p class="text-center"><LinkTo @route="register" class="btn btn-inverse btn-transparent">Sign up now</LinkTo></p>
    </div>
    <div>
      <img src="/img/responsive/hero-img.png" alt="highstreet.ly screenshots" class="inline-block w-4/5 h-auto" style="max-width:800px" width="800" height="400">
    </div>
  </div>
</div>