<div class="hero text-center bg-fixed bg-center bg-cover bg-brand-gradient"> <!--style="background-image:url('/img/hero-bg.jpg')"-->
  <div class="container mx-auto pt-20 px-5">
<!--    <div class="logo w-80 mx-auto">
      <a href="/" title="Highstreet.ly">
        <img src="/img/logo.png" alt="Highstreet.ly logo">
      </a>
    </div>-->
    <div class="mt-10 mb-5 ">
      <h1 class="text-white text-2xl md:text-4xl font-medium" {{did-insert this.startTyping}} {{will-destroy this.stopTyping}}>
        The <b><span id="typing"></span></b> way to <b>sell</b> online
      </h1>
      <p class="text-white font-medium text-lg mb-8">Create an shop front backed by powerful tools to help you sell online</p>
      <p class="text-center"><a href="#register" class="btn btn-inverse btn-transparent">Sign up now</a></p>
    </div>
    <div>
      <img src="/img/hero-img.png" alt="Highstreet.ly screenshots" class="inline-block" style="max-width:800px">
    </div>
  </div>
</div>