{{page-title "Acceptable Use"}}

<div class="container">

  <h1>Acceptable Use Policy</h1>

  <p>Highstreet.ly provides small to mid-sized businesses a platform to sell products online, or with the option of using our Highstreet.ly Services on their own website, as well as at physical
    retail locations. Highstreet.ly believes that an open market is conducive to client success, though there exists certain activities that are incompatible with our objective to make the marketplace
    a better place for all players.</p>

  <p>In addition to the following Acceptable Use Policy (AUP), please refer to our Terms of Service for general information on rights, responsibilities and obligations expected as a user of Highstreet.ly Services. Remember that these two documents should be read in conjunction with each other.</p>

  <p>Should any of the following provisions of the AUP exist in conflict with any of the provisions outlined in our <LinkTo @route="legal.terms">Terms of Service</LinkTo>, the provision listed in this AUP will represent the prevailing policy of Highstreet.ly.</p>

  <p>This AUP outlines activities that are prohibited in any connection to your use of Highstreet.ly Services. The following activities will not be tolerated and may result in immediate suspension and/or termination of your Account and, as a result, any Highstreet.ly Service:</p>

  <ol>
    <li><strong>Bullying, harassment, threats and defamation</strong>: You are prohibited from posting any content, material, or offering any type of good or service, which results in the harassment, bullying, threatening or defamation of a specific individual, organisation (political or otherwise), or business.</li>
    <li><strong>Child abuse or exploitation</strong>: You are prohibited from offering any goods or services, as well as post any material, that may result in the exploitation or abuse of children. This includes, but is not limited, to anything which may demonstrate child abuse or sexual abuse, or which may present children in any type of lewd or sexual manner.</li>
    <li><strong>Content which promotes hate</strong>: You are prohibited from using any Highstreet.ly Service for the purpose of promoting or condoning hateful content. This includes acts of violence against any person(s), entity, organisations (political or otherwise), or business, based on colour, race, national origin, age, gender, religion, sexual orientation or identity, disability, medical condition, veteran status, or other forms of intolerance. You are also prohibited from using our Services to promote or condone any organisation which promotes the same.</li>
    <li><strong>COVID-19-related supplies and/or medical equipment</strong>: You are able to offer goods or services that relate to the COVID-19 global pandemic. You also agree to comply with our <LinkTo @route="legal.covid">Framework for the Sale of COVID-19 Related Products and Services</LinkTo>, which should be read in conjunction with our Terms of Service.</li>
    <li><strong>Deceptive and malicious practises</strong>: You are prohibited from using Highstreet.ly Services for the transmission of any malware, or host any phishing pages. You are prohibited from performing any activities, or uploading any material, that may be proven as harmful or disruptive to Highstreet.ly Services, or Customers using the Highstreet.ly platform. You are prohibited from using our Services for deceptive practises, or other illegal commercial activities.</li>
    <li><strong>Illegal activities</strong>: You are prohibited from offering any type of goods or service, or post any material, that may undermine, or support activities, which can be found unlawful according to the laws of the City of London and the U.K.</li>
    <li><strong>Intellectual property</strong>: You may not offer any type of good or service, as well as post any material, that violates any copyright or trademark of others. Please refer to Section 8 &ldquo;Intellectual Property and Consumer Content&rdquo; in our Terms of Service for further information on how to properly report suspicion of copyright infringement.</li>
    <li><strong>Protected confidential, personal, and health information</strong>: You are prohibited from posting or uploading any material, or using any Highstreet.ly Services, that may contain personal confidential information, or personal identifiable information, such as, but not limited, to confidential government-issued ID numbers, credit card numbers, or account passwords, unless you have explicit written consent from the person to whom the information belongs, and that person is authorised is provide consent for such information. You are prohibited from using Highstreet.ly Services to collect, store, process or display any protected health information that may be subject to local or national health confidentiality laws.</li>
    <li><strong>Prohibition on the sale of firearms and knives that may be construed as weapons</strong>: You are prohibited from offering any goods or service that includes, or can resemble, the sale of automatic firearms, semi-automatic firearms, or any other type of firearm, as well as knives that may be construed as weapons. This includes a prohibition on the sale of knives such as machetes, divers&rsquo; knives, electricians&rsquo; knives, hunting knives, kukri knives, or any type of knives that may be interpreted as combat knives such as bayonets or trench knives. You are also prohibited from selling individual items that may make-up firearms, such as, but not limited to:</li>
    <ol>
      <li>Magazines</li>
      <li>Pistol grips</li>
      <li>Grenades or rocket launchers</li>
      <li>Ghost guns or 3D-printed guns,</li>
      <li>Any part, component, or kit for any firearm or gun listed above</li>
    </ol>
    <li><strong>Spam</strong>: You are prohibited from using Highstreet.ly Services for the transmission of unsolicited commercial e-mails.</li>
    <li><strong>Terrorist organisations</strong>: You are prohibited from offering any goods or services, or posting any material, that implies support or promotion of, or membership in, a terrorist organisation.</li>
  </ol>

  <p>You also understand, acknowledge, and agree that Highstreet.ly reserves the right to remove any materials, as well as suspend, and/or terminate your Account, which will cease access to any Highstreet.ly Service, if you engage in any of these aforementioned activities. This includes any activities discovered outside of your use of Highstreet.ly Services.</p>

  <p>This AUP must be agreed to, in addition to the <LinkTo @route="legal.terms">Terms of Service</LinkTo>.</p>

  <p>Highstreet.ly's determination of any violation of this AUP, or our Terms of Service, or any other agreement between you and Highstreet.ly (including &ldquo;Additional Terms&rdquo;), will be final and binding, and will be executed at our sole discretion.</p>

  <p>Highstreet.ly has the right to amend or modify this AUP at any time by posting a revised version <LinkTo @route="legal.acceptable-use">here</LinkTo>. Any continued use of our Services following the publication of our revised AUP implies your agreement to any amendments or updates made to the AUP.</p>

  <p>If you suspect a Highstreet.ly User has violated this AUP, please send a message to <LinkTo @route="contact">Highstreet.ly Support</LinkTo>.</p>
</div>