{{page-title 'Register'}}

<SiteNav />
<main class='pt-40'>

  <div class='bg-gray-200 py-16'>
    {{#if (eq this.isLaunched '1')}}
      <RegisterBlock @businessTypes={{this.businessTypes}} />
    {{else}}
      <RegisterInterestBlock />
    {{/if}}
  </div>

</main>