{{page-title "Register"}}

<SiteNav/>
<main class="pt-40">

  <div class="bg-gray-200 py-16">
    <div class="container">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="flex items-center px-10">
          <div>
            <h2 class="text-3xl font-bold">Register for early access</h2>
            <p>We're just putting the finishes touches to the app, but when we're ready we'd love <b>you</b> to be one
              of the first to start selling online with highstreet.ly!</p>
            <p>There's no contract, no credit card required and no risk. Just leave a few details and we'll get back
              to you as soon as we're ready to launch.</p>
          </div>
        </div>
        <Forms::RegisterInterest></Forms::RegisterInterest>
      </div>
    </div>
  </div>

</main>