<div class='container'>
  <div class='grid grid-cols-1 sm:grid-cols-2 gap-4'>
    <div class='flex items-center px-10'>
      <div>
        <h2 class='text-3xl font-bold'>Try our world famous 30 second sign up!</h2>
        <p>You're just 2 steps away from selling your products through
          highstreet.ly! There's no contract, no credit card required and no
          risk.</p>
        <p>Simply fill in the form, and we'll send you an email confirmation
          with a link to your new personal dashboard.</p>
      </div>
    </div>
    <Forms::Register @businessTypes={{@businessTypes}} />
  </div>
</div>