{{page-title "Contact Us"}}

<SiteNav/>
<main class="pt-40">

  <div class="bg-gray-200 py-16">
    <div class="container">
      <div class="grid grid-cols-2 gap-4">
        <div class="flex items-center px-10">
          <div>
            <h2 class="text-3xl font-bold">Contact us</h2>
            <p><span class="font-bold">Any general questions?</span> Email us at support@highstreet.ly, or fill in the form. <br>
              Please note we do not accept orders over the phone - so if you'd like to place an order, please place it online.</p>
            <p><span class="font-bold">For media/press enquiries</span>, please email press@highstreet.ly.<br>
              Unfortunately the press office doesn't have access to account information, so can't help with customer enquiries.</p>
          </div>
        </div>
        <Forms::Contact></Forms::Contact>
      </div>
    </div>
  </div>

</main>