{{page-title "Data Processing"}}

<div class="container">
  <h1>Data Processing</h1>

  <p>The following Data Processing Supplement should be read as a supplement to our <LinkTo @route="legal.terms">Terms of Service</LinkTo>, and represents an agreement between you and Highstreet.ly Contracting Party, a U.K. company incorporated at 71-75 Shelton Street, Covent Garden, London, United Kingdom, WC2H 9JQ.</p>

  <ol>
    <li>Definitions
      <ol>
        <li>&ldquo;Data Protection Legislation&rdquo; means European Union Regulation 2016/679 (the &ldquo;General Data Protection Regulation&rdquo;), as applicable, and any legislation and/or regulation implementing or made pursuant to it, or which amends or replaces any of it;</li>
        <li>&ldquo;Data Processor&rdquo;, &ldquo;Data Controller&rdquo;, &ldquo;Data Subject&rdquo;, &ldquo;Processing&rdquo;, &ldquo;Subprocessor&rdquo;, &ldquo;Supervisory Authority&rdquo;, and &ldquo;Service Provider&rdquo; shall be interpreted in accordance with the General Data Protection Regulation;</li>
        <li>&ldquo;Personal Data&rdquo; as used in this Supplement, refers to information that is in relation to, or could reasonably be in connection to, an identifiable or identified Data Subject who visits and/or engages in transactions through your store (a &ldquo;Customer&rdquo;), which Highstreet.ly processes as a Data Processor or Service Provider, as necessary, when providing the Highstreet.ly User with its Services. Notwithstanding the foregoing sentence, Personal Data does not include information that Highstreet.ly processes in the context of services that it provides directly to a User through our Highstreet.ly website.</li>
        <li>&ldquo;Data Subject Request&rdquo; as used in this Supplement, means a request for access, erasure, rectification, or portability of your Customer&rsquo;s Personal Data.</li>
      </ol>
    </li>
    <li>Data Protection
      <ol>
        <li>Over the course of us providing our Services, we will process any Personal Data, as Data Processor and/or Service Provider, only for the purpose of providing our Service, and in agreement with documented instructions from you (assuming these instructions are aligned with our ability to conduct business). If we&rsquo;re ever required to process personal data for any other purpose outside of your control or knowledge (i.e. legal reasons), we will provide you with prior notice of this requirement, as long as the law allows.</li>
        <li>You understand that Highstreet.ly may also collect data, and act as an independent Data Controller, with respect to collecting Customer Personal data, which is collected directly from consumers through our Highstreet.ly site, or from our widgets on your site.</li>
        <li>We&rsquo;ll notify you if we feel like your instruction for Processing Personal Data may infringe any data protection legislation, such as the E.U.&rsquo;s General Data Protection Regulation.</li>
        <li>We will implement, as well as maintain, any appropriate technical and business operation measures to ensure Personal Data is protected against any unlawful processing, as well as against accidental loss, damage, destruction, alteration, or disclosure.</li>
        <li>Upon request from the Customer, we will provide any information, as appropriate, to help the Customer complete their data protection impact assessment.</li>
        <li>We will let you know, without delay, if any Personal Data has been compromised or unlawfully disclosed.</li>
        <li>We make the promise that any personnel who has access to Personal Data from our team will be subject to confidentiality obligations that limit their ability to disclose Customer Personal Data.</li>
        <li>Upon termination of an Account, Highstreet.ly will promptly work to permanently remove, delete or anonymise any Personal Data. You may request a copy of this Personal Data. A copy will be emailed to the original owner of the Account.</li>
      </ol>
    </li>
    <li>Miscellaneous
      <ol>
        <li>Should any conflict or inconsistency exist between any provision listed in this Supplement and with our general Terms of Service, the provisions of this Supplement will prevail.</li>
        <li>You also agree that Highstreet.ly may amend this Supplement, from time to time, and will notify you of such changes by posting the relevant amendments and updated Supplement to our website, which is available here. Any continued use of our Services following updates to this Supplement implies your consent and acknowledgement of such amendments and updates.</li>
        <li>Any provision within this Supplement that may be found incompatible with local data processing laws will be removed from the Supplement. The remainder of this Supplement remains binding for both you and us.</li>
        <li>The terms of this Supplement shall be governed and interpreted in accordance with the laws of the City of London and the laws of the United Kingdom applicable therein. Both parties unconditionally subject themselves to the exclusive jurisdiction of the courts of the City of London and the United Kingdom, with respect to any dispute or claim that may arise out of, or connected to, this Supplement.</li>
      </ol>
    </li>
  </ol>
</div>