{{page-title "Covid"}}

<div class="container">
  <h1>Covid-19 Framework</h1>

  <p>Highstreet.ly wants to ensure our Services can be used as sensibly and responsibly as possible to help curb the spread of COVID-19, and save lives as a result of the COVID-19 global pandemic.</p>
  <p>To ensure this objective is met, we have outlined the following &ldquo;Framework for the Sale of COVID-19 Related Products and Services&rdquo; (&ldquo;Framework&rdquo;), which must be read in conjunction with our
    <LinkTo @route="legal.acceptable-use">Acceptable Use Policy</LinkTo>, and <LinkTo @route="legal.terms">Terms of Service</LinkTo>.</p>
  <p>Any violation of our &ldquo;Framework&rdquo; implies violation of our Terms of Service, and may result in immediate suspension and/or termination of your Account, which will cease any access to Highstreet.ly Services.</p>
  <p>We may update this page as the pandemic situation changes. Any updates to this Framework will be communicated on this page, so it is important that you check back from time-to-time to ensure you and your business remains in compliance with this Framework.</p>
  <p>The following terms are laid out and agreed upon between you, as Store Owner, Account owner, and Highstreet.ly User, with us, the Highstreet.ly Contracting Party.</p>
  <ol>
    <li><strong>Compliance with laws</strong>: You are required to comply with any and all applicable laws, and other regulatory requirements, relating to the sale of products related to COVID-19, according to the local and national laws under U.K. jurisdiction.</li>
    <li><strong>Delivery of COVID-19 related products</strong>: Buyers are entitled to receive any COVID-19 related products that have been purchased either through your personal site or our Highstreet.ly platform that sells your goods.</li>
    <li><strong>Licencing or permission</strong>: You are required to obtain any and all applicable licencing or permission for the products you sell. This includes any authorisation or licencing to sell medical or health-related products.</li>
    <li><strong>Medical, scientific, and other claims</strong>: any medical, scientific, or other claims relating to the efficacy of your products must be based on true and supported documented evidence, as well as, where applicable by law, adequate testing has been done to conform with this evidence. Any products that claim to prevent or cure COVID-19 will be immediately removed from Highstreet.ly platforms.</li>
    <li><strong>Price gouging</strong>: You are prohibited from charging exaggerated or excessive prices, as well as engaging in any type of deceptive pricing practises for medical supplies, or any other material necessary as a result of the COVID-19 pandemic. This includes any resale of medical supplies, face masks, hand or gel sanitiser, and toilet paper.</li>
    <li><strong>Sale of regulated products</strong>: Prior notification and consent from Highstreet.ly is required for you to sell any regulated products on our platform. This may include the sale of government-approved testing kits. Highstreet.ly reserves the right to require you to provide any supporting documentation which could verify your compliance with this Framework. To obtain our consent, please reach out to us at [insert Highstreet.ly email address as appropriate].</li>
  </ol>
  <p>This Framework must be agreed to, in addition to the Terms of Service, which can be found here.</p>
  <p>Highstreet.ly's determination of any violation of this Framework, or our Terms of Service, or any other agreement between you and Highstreet.ly (including &ldquo;Additional Terms&rdquo;), will be final and binding, and will be executed at our sole discretion.</p>
  <p>Highstreet.ly has the right to amend or modify this Framework at any time by posting a revised version <LinkTo @route="legal.covid">here</LinkTo>. Any continued use of our services following the publication of our revised Framework implies your agreement to any amendments or updates made to the Framework.</p>
  <p>If you suspect a Highstreet.ly User has violated this Framework, please send us a message to <LinkTo @route="contact">Highstreely.ly Support</LinkTo>.</p>
</div>