{{page-title "highstreet.ly - the easiest way to sell online"}}

<div class="wrapper">

  {{outlet}}

  <footer class="mt-20">
    <div class="container">
      {{!-- LOGO --}}
      <div class="text-center mb-10">
        <img src="/img/logo-orange.svg" alt="highstreet.ly" class="inline-block w-24" width="286" height="273">
      </div>

      {{!-- SOCIAL ICONS --}}
      <ul class="text-center">
        <li class="inline"><a href="https://www.facebook.com/highstreetly"><img src="/img/social/Facebook.svg" alt="Follow us on Facebook" class="inline w-14 mx-1"></a></li>
        <li class="inline"><a href="https://www.instagram.com/highstreetly"><img src="/img/social/Instagram.svg" alt="Follow us on Instagram" class="inline w-14 mx-1"></a></li>
        <li class="inline"><a href="https://twitter.com/highstreetly"><img src="/img/social/Twitter.svg" alt="Follow us on Twitter" class="inline w-14 mx-1"></a></li>
      </ul>

      <ul class="text-center mt-10 text-xs">
        <li class="inline-block mr-3">
          <LinkTo @route="legal.terms" class="text-gray-700 inline-block py-3">Terms of Use</LinkTo>
        </li>
        <li class="inline-block mr-3">
          <LinkTo @route="legal.privacy" class="text-gray-700 py-3">Privacy Policy</LinkTo>
        </li>
        <li class="inline-block mr-3">
          <LinkTo @route="legal.acceptable-use" class="text-gray-700 py-3">Acceptable Use Policy</LinkTo>
        </li>
        <li class="inline-block mr-3">
          <LinkTo @route="legal.data-processing" class="text-gray-700 py-3">Data Processing</LinkTo>
        </li>
        <li class="inline-block">
          <LinkTo @route="legal.covid" class="text-gray-700 py-3">COVID-19</LinkTo>
        </li>
      </ul>

      {{!-- COPYRIGHT TEXT --}}
      <p class="text-center mt-5">
        ©2021 highstreet.ly, All Rights Reserved
      </p>

    </div>
  </footer>
</div>
