<header class="bg-brand relative">
  <div class="container">
    <a href="#" class="block md:absolute top-4">
      <span class="sr-only">highstreet.ly</span>
      <img class="h-24 md:h-24" src="/img/logo-white.svg" alt="highstreet.ly" title="highstreet.ly">
    </a>
    <div class="flex flex-wrap flex-row justify-end md:items-end md:space-x-4">
      <nav class="absolute md:relative top-16 left-0 md:top-0 z-20 md:flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto bg-white shadow-md rounded-lg md:rounded-none md:shadow-none md:bg-transparent p-6 pt-0 md:p-0 text-right">
        <ul>
          <li class="inline-block"><a href="#" class="block py-6 px-6 text-white hover:underline">Home</a></li>
          <li class="inline-block"><a href="#" class="block py-6 px-6 text-white hover:underline">About us</a></li>
          <li class="inline-block"><a href="#" class="block py-6 px-6 text-white hover:underline">Services</a></li>
          <li class="inline-block"><a href="#" class="block py-6 px-6 text-white hover:underline">Blog</a></li>
          <li class="inline-block"><a href="#" class="block py-6 px-6 text-white hover:underline">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

{{yield}}